body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    margin: 0;
    color: white;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

h1 {
    margin-bottom: 30px;
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#contador {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.time-block {
    margin: 0 15px;
    text-align: center;
}

#contador span {
    display: block;
    font-size: 3em;
    animation: fadeIn 1s ease-in-out;
}

.label {
    font-size: 1.2em;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border-radius: 5px; /* Esquinas redondeadas */
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #45a049; /* Color de fondo del botón al pasar el mouse */
    transform: scale(1.05);
}

/* Animación */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
